html,
body {
  /* TODO: Either change image or attribute to author*/
  background-image: url("/park.jpg");
  background-size: cover;
  background-position: center; /* Centers the most important part of the image */
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-color: #47b779;
  font-family: "myfont";
}

body {
  cursor: url("/coffeecursor.svg"), auto;
  font-family: "myfont";
}

@font-face {
  font-family: "myfont";
  src: url("/StarCrush.ttf") format("truetype");
}
